<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
</head>

<body>
    <header>
    </header>
    <main id="app">
        <div>
            ORDER INLET
            <div v-for="(value,key) in order">
                <input v-if="key == 'id' || key == 'status' || key == 'date'" type="text" :placeholder="key"
                    v-model="value" readonly />
                <input v-else type="text" :placeholder="key" v-model="value" />
            </div>
            <button> Add </button>
        </div>
        <div>
            <h2> TOTAL AMOUNT OF ORDERS</h2>
        </div>

    </main>

</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="module" src="asset/js/index.js"></script>

</html>