<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/css/style.css">
    <title>Vue</title>
</head>

<body>
    <header>
    </header>
    <main id="app">
        <div>
            ORDER INLET
            <!-- key is id,name..etc. the value is the data that is added -->
            <div v-for="(value,key) in order">
                <input v-if="key == 'id' || key == 'status' || key == 'date'" type="text" :placeholder="key"
                    v-model="order[key]" readonly />
                <input v-else type="text" :placeholder="key" v-model="order[key]" />
            </div>
            <button @click="order_handler"> Add </button>
        </div>
        <hr>
        <div>
            <!-- <p v-for="(value,key) in order">{{value}}</p> -->
        </div>
        <div>
            <h2> TOTAL ORDERS: {{cant_order}}</h2>
            <div>
                <div v-for="order in orderList">
                    <div :class="order.status?'':classInactive">
                        <p>Name: {{order.name}}</p>
                        <p>Date: {{order.date}}</p>
                        <p>price: {{order.price}}</p>
                        <button @click="()=>order.status = !order.status">Active/Inactive</button>
                        <button @click="deleteHandler(order.id)">Delete</button>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <hr />
        <div>
            <button @click="fetchHandler"> All</button>
            <div>
                <div v-for="elem in all" :class="elem.status?'':classInactive">
                    <!-- <p>id: {{elem.id}}</p>
                    <p>Name: {{elem.title}}</p> -->
                    <all :title="elem.title" :id="elem.id"> </all>
                    <button @click="()=>elem.status = !elem.status">Active/Inactive</button>
                </div>
            </div>
        </div>

    </main>

</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="module" src="asset/js/index.js"></script>

</html>