<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="asset/css/style.css">
    <title>Vue</title>
</head>

<body>
    <div id="app">
        <div>
            <h1> Mensaje con v-model: {{msjModel}} </h1>
            <input type="text" v-model="msjModel"/>
            <input type="number" v-model.lazy="usersCant"/>

            <!-- It doesn't work because it is assigned and not returning a mutable value -->
            <!-- <button @click="() => users = users.slice(0,usersCant)"> -->
            <button @click="() => usersItems = users.slice(0,usersCant)">
                update number of users
            </button>

            <h1> All buttons</h1>
            <button @click="() => {
                message = message.toUpperCase() ;
                name = name.toUpperCase()
            }"> UpperCase
            </button>
            <button @click="() => display = !display"> Show/Not show</button>
        </div>
        <!-- v-once is rendered only once, so it is not converted to uppercase -->
        <div v-once>
            <h1> {{message}}</h1>
        </div>
        <div>
            <h2 v-text="name"></h2>
        </div>
        <h2 v-show="display" v-bind:class="style"> The value of the counter is: {{count}}</h2>
        <button @click="count++">+</button>
        <button @click="count--">-</button>

        <div class="users" v-show="display">
            <div v-for="user in usersItems">
                <p>{{user.name}}</p>
                <p>{{user.username}}</p>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="module" src="asset/js/index.js"></script>

</html>